body{
    font-family: sans-serif;
    max-width: 100vw;
    margin: 0;
}
header{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: auto;
    width: 90%;
    /* display: flex; */
    justify-content: space-between;              
    transition-duration: 0.5s;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
a{
    text-decoration: none;
    color: black;
}
    header>div{
        margin: 0vh 0.4vw;
    }
    #main_name{
        animation: 2s ease-out 0s 1 slideInFromLeft;
        font-size: 3vw;
        color: rgb(57, 210, 251);
        margin: auto;
        margin-bottom: 5vh;
    }
    #main_name>p{
        text-align: center;
        margin: auto;  
    }
    #main_menu{
        margin: auto;
        animation: 2s ease-out 0s 1 slideInFromRight;
    }
        #main_menu>ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            border-top: 1px solid rgb(1, 11, 56);
            border-bottom: 1px solid rgb(1, 11, 56);
            padding: 1vh 0;
            max-width: 100%;
            font-size: 1vw;
        }
            #main_menu>ul>li{
                margin: 0 2vw;
            }
            #main_menu>ul>li>a{
                transition-duration: 0.5s;
            }
            #main_menu>ul>li>a:hover{
                color: grey;
                transition-duration:0.5s;
            }
#index_main_content{
    width: 90%;
    margin: auto;
    min-height: 200vh;
    padding-top: 15vh;
}
            
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}